@model CST465TermProject.Models.ContactModel
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@{
}
<div class="container">
    <div class="row" style="margin-left:50px; width: 50%;">
        <p><em>Name:</em> @Html.DisplayFor(modelItem => Model.Name)</p>
    </div>        
    <div class="row" style="margin-left:50px; width: 50%;">
        <p><em>Phone Number:</em> @Html.DisplayFor(modelItem => Model.PhoneNumber)</p>
    </div>            
    <div class="row" style="margin-left:50px; width: 50%;">
        <p><em>Email:</em> @Html.DisplayFor(modelItem => Model.Email)</p>
    </div>                
    <div class="row" style="margin-left:50px; width: 50%;">
        <p><em>Message:</em> @Html.DisplayFor(modelItem => Model.Message)</p>
    </div>
</div>