@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
{
<label>Name:</label><br />
<input required type="text" name="Name" /><br />
<label>Phone Number:</label><br />
<input required type="text" name="PhoneNumber" /><br />
<label>Email:</label><br />
<input required type="text" name="Email" /><br />
<label>Message:</label><br />
<textarea required name="Message" rows="10" cols="40"></textarea><br />
<button type="submit">Submit</button>
}