nav {
  width: 50%;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  font-size: 20pt;
  font-weight: bold;
}

nav .col {
  border-right: 5px solid #ccc;
}

#submitform {
  margin-left: 30px;
}
