body {
    background-color: #CDE1FF;
}

.bg-light {
    background-color: #5C84BE!important;
}

.navbar-light .navbar-brand {
    color: #051122;
}

.nav-item {
    color: #12161C;
}

.container {
    color: #CDE1FF;
    background-color: #2C4870;
    padding: 10px;
}