@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model  final.Models.Note

<h2>Edit Note</h2>

<a class="btn btn-info" asp-controller="Vault" asp-action="Index">&larr; Go back</a>

<div class="edit-form">
    <strong>Note</strong>

    <form asp-controller="Note" asp-action="Update">
        @Html.AntiForgeryToken()
        <input hidden asp-for="ID" value="@Model.ID" />
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span><br/>
        <label asp-for="Text"></label>
        <textarea rows="10" asp-for="Text" class="form-control"></textarea>
        <span asp-validation-for="Text"></span><br />
        <input hidden asp-for="Tab" value="0" />
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
